name: Release
on:
  push:
    tags: ['v*']
permissions:
  contents: write
  # https://docs.npmjs.com/trusted-publishers
  id-token: write
jobs:
  release:
    name: Release
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*

      # Skip install and test because we can't use --ignore-scripts. We (unfortunately)
      # still need install scripts because `registry-js` lacks embedded prebuilt binaries
      # and I don't like allowing third-party scripts to run before publish.
      # - name: Install
      #   run: npm install --ignore-scripts
      # - name: Test
      #   run: npm test

      - name: Publish
        run: npm publish
      - name: Create GitHub Release
        uses: anton-yurchenko/git-release@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
